header{
  background-color: rgb(46,46,46);
  min-height: 4.5rem;
  padding: 2rem 0rem;
}

.navbar{
  padding: 0rem 2rem;
}

.robot{
  background: url(../../assets/robot.png);
  background-repeat: no-repeat;
  min-height: 32px;
  width: 32px;
}
