section{
  background-color: #4E27E8;
  color: rgb(255, 255, 255);
}

.container-grid{
  margin: 0rem 1rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1.5rem;
  text-align: center;
  border-radius: 10px;
}

.item{
  transition: background 0.3s ease;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  min-height: 300px;
}

.item:hover{
  background: rgba(41, 41, 41, 0.9);
  display: block;
}

.item1{
  grid-column: 1;
  grid-row: 1;
  background: url(../../assets/background0.jpg) center/cover;
}

.item2{
  grid-column: 2;
  grid-row: 1;
  background: url(../../assets/item2.jpg) center/cover;
}

.item3{
  grid-column: 3;
  grid-row: 1;
  background: url(../../assets/item3.jpg) center/cover;
}

.project-container{
  border-radius: 10px;
}

.project-content1,
.project-content2,
.project-content3 {
  display: none;
}

.item1:hover .project-content1,
.item2:hover .project-content2,
.item3:hover .project-content3 {
  display: block;
}

h3{
  margin-bottom: 2rem;
}

@media screen and (max-width: 640px) {
  .container-grid{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .item1, .item2, .item3{
    grid-row: auto;
    grid-column: auto;
  }
}
